@import "utils/fonts.scss";
@import "utils/mixins.scss";

html {
	scroll-behavior: smooth;
}

body {
	-webkit-overflow-scrolling: touch;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
	text-rendering: optimizeLegibility;
	font-feature-settings: "pnum";
	font-variant-numeric: proportional-nums;
	overflow-x: hidden;
	position: relative;
	margin: 0;
	background-color: #fff;
	&::before{
		content: "";
		position: absolute;
		width: 100%;
		height: calc(100% - 100vh);
		top: 100vh;
		left: 0;
		background-color: #fff;
		z-index: 3;
	}
}

body.opened_menu {
	overflow: hidden;
}

h1, h2, h3, h4, h5, p {
	margin: 0;
	margin-block-start: 0;
	margin-block-end: 0;
	margin-inline-start: 0;
	margin-inline-end: 0;
	word-break: initial;
}

* {
	box-sizing: border-box;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: #F5F5F5;
}

::-webkit-scrollbar {
	width: 6px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
	background-color: #000000;
}

a {
	text-decoration: none;
	outline: none;
	transition: opacity 0.2s ease-in-out;
	cursor: pointer;
}

a:hover {
	opacity: 0.8;
}

.container {
	width: 1170px;
	padding: 0 15px;
	margin: 0 auto;
}

.row {
	display: table;
	min-width: 100%;
}

.row.flex {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	margin-left: -15px;
	margin-right: -15px;
}

.justify-center{
	align-items: center;
	justify-content: center;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.grid-margin{
	margin-bottom: 25px;
}

.no-margin{
	margin: 0!important;
}

.no-padding{
	padding: 0!important;
}

@for $i from 1 through 5 {
	.mt-#{$i} {
		margin-top: $i * 10px;
	}
	.mb-#{$i}{
		margin-bottom: $i * 10px;
	}
}

[class^='col-'], .col{
	width: 100%;
	padding: 0 15px;
}

@media (min-width: 1025px){
	div.col-6{
		width: 50%;
	}
}

.main-loader {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 20;
	height: 100%;
	background-color: #fff;
	opacity: 1;
	-webkit-transition: opacity, 1500ms;
	-moz-transition: opacity, 1500ms;
	transition: opacity, 1500ms;
	pointer-events: none;
}

.main-loader.loaded {
	opacity: 0;
	position: absolute;
}

.main-loader .line {
	position: fixed;
	left: 0;
	top: 50%;
	height: 2px;
	width: 0;
	background-color: #353538;
	-webkit-transition: all 700ms cubic-bezier(0.77, 0, 0.175, 1);
	-moz-transition: all 700ms cubic-bezier(0.77, 0, 0.175, 1);
	transition: all 700ms cubic-bezier(0.77, 0, 0.175, 1);
}

.main-loader .line.max-width {
	width: 100%;
}

.main-loader .line.max-height {
	top: 0;
	height: 100%;
}

.main-loader .load-img {
	position: absolute;
	pointer-events: none;
	left: 50%;
	top: 50%;
	margin-top: -10px;
	margin-left: -10px;
	opacity: 0;
	background-image: url("/assets/img/one.gif");
	background-repeat: no-repeat;
	background-size: 100%;
	width: 30px;
	height: 30px;
	-webkit-transition: all 300ms cubic-bezier(0.77, 0, 0.175, 1);
	-moz-transition: all 300ms cubic-bezier(0.77, 0, 0.175, 1);
	transition: all 300ms cubic-bezier(0.77, 0, 0.175, 1);
}

.main-loader .load-img.visible {
	opacity: 1;
	position: fixed;
}

form {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	align-items: center;
	.check_terms {
		align-items: center;
		.checkbox {
			position: relative;
			width: 28px;
			height: 28px;
			border: 2px solid #cccccc;
			border-radius: 7px;
			margin-right: 12px;
			display: inline-block;
			span.check {
				width: calc(100% - 10px);
				height: calc(100% - 10px);
				position: absolute;
				left: 0;
				top: 0;
				bottom: 0;
				right: 0;
				margin: auto;
				background: #cccccc;
				opacity: 0;
				pointer-events: none;
				transition: opacity 0.2s ease-in-out;
			}
			input[type="checkbox"] {
				position: absolute;
				background-color: transparent;
				border: none;
				left: 0;
				top: 0;
				opacity: 0;
				padding: 0;
				width: 100%;
				height: 100%;
				margin: auto;
				&:checked ~ span.check {
					opacity: 1;
				}
			}
		}
		label {
			text-align: left;
			font-family: 'Garamond';
			font-weight: 600;
			color: #000;
			font-size: 16px;
			line-height: 100%;
			a {
				text-decoration: underline;
				color: inherit;
			}
		}
	}
}

form input, form textarea, form select {
	@include font(18px, 400, "Garamond");
	width: 100%;
	height: 32px;
	border-radius: 7px;
	color: rgba(0, 0, 0, 0.63);
	padding: 0 19px;
	background-color: #fff;
	border: 1px solid transparent;
	outline: none;
	box-shadow: none;
	transition: border-color 0.2s ease-in-out;
	resize: none;
	-webkit-appearance: none;
	&.grey{
		border: 1px solid #919191;
		&:hover {
			border-color: #151515;
		}
	}
	&:hover {
		& ~ span.arrow{
			opacity: 0.8;
		}
	}

	&::-webkit-input-placeholder, &::-moz-placeholder, &:-ms-input-placeholder, &:-moz-placeholder {
		color: rgba(0, 0, 0, 0.63);
	}
	&::placeholder{
		color: rgba(0, 0, 0, 0.63);
	}
}

form label.select-options{
	position: relative;
	span.arrow{
		position: absolute;
		pointer-events: none;
		@include bg(center, contain);
		background-image: url(/assets/img/arrow_down.png);
		width: 12px;
		height: 9px;
		right: 10px;
		top: 0;
		bottom: 0;
		margin: auto;
	}
}

form textarea {
	padding-top: 3px;
}

form input.small {
	max-width: 106px;
	width: 100%;
}

form input:hover {
	border-color: #fff;
}


form button {
	height: 32px;
	line-height: 32px;
	@include font(20px, 600, "Garamond");
	color: rgba(0, 0, 0, 0.63);
	background-color: #fff;
	border: none;
	border-radius: 7px;
	outline: none;
	cursor: pointer;
	box-shadow: none;
	transition: opacity 0.2s ease-in-out;

	&.grey{
		border: 2px solid #919191;
		background-color: #e0e0e0;
		line-height: 100%;
	}
}

form button:hover {
	opacity: 0.8;
}

span.border {
	position: absolute;
	display: block;
	width: calc(100% - 20px);
	height: calc(100% - 20px);
	pointer-events: none;
	border: 2px solid #fff;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
}

h3.section-label {
	@include font(31px, 400, "Brandon");
	line-height: 34px;
	color: #000;
	letter-spacing: 14px;
	text-align: center;
	text-transform: uppercase;
}
p.section-description {
	@include font(28px, 400);
	text-align: center;
	color: #000;
	line-height: 100%;
	padding: 0 39px;
	a {
		text-decoration: underline;
		display: inline-block;
		color: inherit;
	}
}

h5.item-label{
	@include font(34px, 400, "AceSans");
	color: #ffffff;
	letter-spacing: 12px;
}

.background_mobile {
	background-size: 0;
	background-position: center;
	background-repeat: no-repeat;
	overflow: hidden;
}

.cookie_policy {
	background-color: #636363;
	padding: 15px;
	display: none;
}

.cookie_policy p {
	@include font(18px, 500, "Garamond");
	line-height: 100%;
	color: #fff;
}

.cookie_policy p a {
	display: inline-block;
	text-decoration: underline;
	font-weight: 600;
	color: inherit;
}

header {
	position: relative;
	padding: 20px 0 0;
	width: 100%;
	z-index: 10;
}

header .header_bg {
	position: absolute;
	width: 100%;
	height: 65px;
	top: -65px;
	opacity: 0;
	left: 0;
	background-color: #fff;
	display: none;
	align-items: center;
	padding-left: 15px;
	transition: opacity 0.2s ease, top 0.2s ease;
}

header .header_bg a.logo {
	opacity: 1;
	position: relative;
	z-index: 2;
	line-height: 0;
}

header .header_bg a.logo img {
	width: 136px;
}

header .logo {
	float: left;
}

header .logo img {
	max-width: 300px;
}

header .auth_button {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	float: right;
	align-items: center;
}

header .auth_button a {
	margin-left: 23px;
}

header .auth_button .sign_in {
	@include font(23px, 400, "Garamond");
	color: #737373;
}

header .auth_button .join {
	@include font(23px, 600, "Garamond");
	color: #737373;
	border: 2px solid #737373;
	height: 36px;
	line-height: 100%;
	border-radius: 8px;
	padding: 5px 28px 5px;
}

header .open_menu_btn {
	position: relative;
	float: right;
	display: none;
	width: 33px;
	height: 33px;
	margin-top: 9px;
	border: 1px solid #fff;
	border-radius: 7px;
	padding: 5px;
	background-color: transparent;
	outline: none;
	overflow: hidden;
	box-shadow: none;
	transition: border-color 0.2s ease-in-out;
	z-index: 10;
}

header .open_menu_btn.grey {
	border-color: #919191;
}

header .open_menu_btn.grey span {
	background-color: #919191;
}

header .open_menu_btn span {
	height: 5px;
	width: 100%;
	display: block;
	background-color: #fff;
	margin-bottom: 3px;
	transform-origin: right;
	transform: rotate(0deg) translateX(0px);
	transition: background-color 0.3s ease-in-out, opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

header .open_menu_btn span:last-child {
	margin-bottom: 0;
}

header .open_menu_btn.opened_btn span:first-child {
	transform: rotate(-43deg) translateX(-2px) translateY(-1px);
}

header .open_menu_btn.opened_btn span:nth-child(2) {
	opacity: 0;
	transform: translateX(20px);
}

header .open_menu_btn.opened_btn span:last-child {
	transform: rotate(47deg) translateY(2px) translateX(-2px);
}

header nav {
	width: 100%;
}

header nav img.menu_logo {
	display: none;
}

header nav ul.main_menu {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 23px 0 0;
	margin: 0;
	list-style: none;
}

header nav ul.main_menu li.menu_item {
	margin-left: 55px;
	padding-bottom: 20px;
}

header nav ul.main_menu li.menu_item a {
	@include font(22px, 400, "Garamond");
	color: #737373;
}

header nav ul.main_menu li.menu_item a.active {
	font-weight: 600;
}

header nav ul.main_menu li.menu_item.dropdown {
	position: relative;
}

header nav ul.main_menu li.menu_item.dropdown i.arrow_down {
	background-image: url(/assets/img/arrow_down.png);
	-webkit-background-size: contain;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	width: 12px;
	height: 9px;
	margin-left: 7px;
	display: inline-block;
	transition: transform 0.3s ease-in-out;
}

header nav ul.main_menu li.menu_item.dropdown:hover i, header nav ul.main_menu li.menu_item a.open_dropdown.opened i {
	transform: rotate(180deg);
}

header nav ul.main_menu li.menu_item.dropdown:hover ul.dopdown_menu {
	margin-top: 19px;
	opacity: 1;
	pointer-events: auto;
}

header nav ul.main_menu li.menu_item.dropdown ul.dopdown_menu {
	position: absolute;
	margin-top: 0px;
	width: 150px;
	opacity: 0;
	background-color: #fff;
	padding: 15px;
	list-style: none;
	pointer-events: none;
	left: 50%;
	transform: translateX(-50%);
	border-bottom-right-radius: 7px;
	border-bottom-left-radius: 7px;
	transition: opacity 0.3s ease-in-out, margin-top 0.3s ease-in-out;
}

header nav ul.main_menu li.menu_item.dropdown ul.dopdown_menu li {
	margin-bottom: 21px;
}

header nav ul.main_menu li.menu_item.dropdown ul.dopdown_menu li:last-child {
	margin-bottom: 0;
}

header nav ul.main_menu li.menu_item.dropdown ul.dopdown_menu li a {
	@include font(18px, 300, "Brandon");
	letter-spacing: -0.4px;
	line-height: 22px;
}

section {
	position: relative;
	overflow: hidden;
	z-index: 3;
	background-color: #fff;

	.feature-block{
		position: relative;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		padding: 20px;
		align-items: center;
		justify-content: center;
		@include bg(center);
		z-index: 2;
		cursor: pointer;
		&::before {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			opacity: 0;
			background-color: rgba(0,0,0,0.35);
			z-index: -1;
			pointer-events: none;
			transition: opacity 0.2s ease-in-out;
		}
		&:hover{
			&::before{
				opacity: 1;
			}
		}
		h5.item-label{
			text-transform: uppercase;
			text-align: center;
		}
	}
}

//********************************** PAGES *************************************
@import "pages/home";
@import "pages/about_us";
@import "pages/creatives";



footer {
	position: relative;
	margin-top: 100px;
	margin-bottom: 70px;
	padding: 35px 30px 25px;
	background-color: #666666;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	z-index: 3;
	.contact_info {
		width: calc(50% - 15px);
		span.title {
			@include font(21px, 600, "Garamond");
			color: #fff;
			text-transform: uppercase;
		}

		p {
			@include font(21px, 400, "Garamond");
			color: rgba(255, 255, 255, 0.75);
			line-height: 25px;
			margin-bottom: 3px;
		}

		p a {
			color: inherit;
			text-decoration: underline;
		}

		.socials a {
			display: inline-block;
			margin-right: 12px;
			margin-bottom: 3px;
		}

		.space {
			margin-top: 15px;
		}

		.payment_method {
			display: inline-block;
		}

		img.payment {
			max-width: 40px;
			margin-right: 12px;
			vertical-align: sub;
		}

		img[alt="drinkaware-logo"] {
		}

		a.work-with-us {
			margin-right: 13px;
		}

		form {
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			justify-content: flex-start;
			margin-top: 18px;
		}

		form input {
			max-width: 380px;
			width: 100%;
			height: 40px;
			padding: 0 15px;
			border: 2px solid #fff;
			border-radius: 7px;
			margin-right: 5px;
		}

		form button {
			height: 40px;
			max-width: 139px;
			line-height: 40px;
			background-color: #fff;
			padding: 0 16px;
			@include font(19px, 600);
			color: #000;
			letter-spacing: 6px;
			text-transform: uppercase;
		}
	}
}

@import "utils/media";