@font-face {
	font-family: 'Brandon';
	src: url('../fonts/BrandonGrotesque-Regular/BrandonGrotesque-Regular.eot');
	src: url('../fonts/BrandonGrotesque-Regular/BrandonGrotesque-Regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/BrandonGrotesque-Regular/BrandonGrotesque-Regular.woff2') format('woff2'),
	url('../fonts/BrandonGrotesque-Regular/BrandonGrotesque-Regular.woff') format('woff'),
	url('../fonts/BrandonGrotesque-Regular/BrandonGrotesque-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Brandon';
	src: url('../fonts/BrandonGrotesque-Bold/BrandonGrotesque-Bold.eot');
	src: url('../fonts/BrandonGrotesque-Bold/BrandonGrotesque-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/BrandonGrotesque-Bold/BrandonGrotesque-Bold.woff2') format('woff2'), url('../fonts/BrandonGrotesque-Bold/BrandonGrotesque-Bold.woff') format('woff'), url('../fonts/BrandonGrotesque-Bold/BrandonGrotesque-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Brandon';
	src: url('../fonts/BrandonGrotesque-Medium/BrandonGrotesque-Medium.eot');
	src: url('../fonts/BrandonGrotesque-Medium/BrandonGrotesque-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/BrandonGrotesque-Medium/BrandonGrotesque-Medium.woff2') format('woff2'), url('../fonts/BrandonGrotesque-Medium/BrandonGrotesque-Medium.woff') format('woff'), url('../fonts/BrandonGrotesque-Medium/BrandonGrotesque-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'AceSans';
	src: url('../fonts/AceSansDemo/AceSansDemo.eot');
	src: url('../fonts/AceSansDemo/AceSansDemo.eot?#iefix') format('embedded-opentype'), url('../fonts/AceSansDemo/AceSansDemo.woff2') format('woff2'), url('../fonts/AceSansDemo/AceSansDemo.woff') format('woff'), url('../fonts/AceSansDemo/AceSansDemo.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Garamond';
	src: url('../fonts/GaramondPremrPro/GaramondPremrPro.eot');
	src: url('../fonts/GaramondPremrPro/GaramondPremrPro.eot?#iefix') format('embedded-opentype'), url('../fonts/GaramondPremrPro/GaramondPremrPro.woff2') format('woff2'), url('../fonts/GaramondPremrPro/GaramondPremrPro.woff') format('woff'), url('../fonts/GaramondPremrPro/GaramondPremrPro.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Garamond';
	src: url('../fonts/GaramondPremrPro-Smbd/GaramondPremrPro-Smbd.eot');
	src: url('../fonts/GaramondPremrPro-Smbd/GaramondPremrPro-Smbd.eot?#iefix') format('embedded-opentype'), url('../fonts/GaramondPremrPro-Smbd/GaramondPremrPro-Smbd.woff2') format('woff2'), url('../fonts/GaramondPremrPro-Smbd/GaramondPremrPro-Smbd.woff') format('woff'), url('../fonts/GaramondPremrPro-Smbd/GaramondPremrPro-Smbd.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Brandon';
	src: url('../fonts/BrandonGrotesque-Light/BrandonGrotesque-Light.eot');
	src: url('../fonts/BrandonGrotesque-Light/BrandonGrotesque-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/BrandonGrotesque-Light/BrandonGrotesque-Light.woff2') format('woff2'), url('../fonts/BrandonGrotesque-Light/BrandonGrotesque-Light.woff') format('woff'), url('../fonts/BrandonGrotesque-Light/BrandonGrotesque-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Dinpro';
	src: url('../fonts/DINPro-CondensedBold/DINPro-CondensedBold.eot');
	src: url('../fonts/DINPro-CondensedBold/DINPro-CondensedBold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/DINPro-CondensedBold/DINPro-CondensedBold.woff2') format('woff2'),
	url('../fonts/DINPro-CondensedBold/DINPro-CondensedBold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}