@media only screen and (max-width:1230px) {
	.container {
		width: 994px;
	}

	section.discover_city h1 {
		padding: 0 50px;
	}

	section.discover_city {
		padding: 106px 20px 99px;
	}

	section.discover_city h2 {
		padding: 0 90px;
	}

	section.join_team form {
		flex-wrap: wrap;
		width: 570px;
		margin: auto;
	}

	section.join_team form input {
		margin-bottom: 15px;
	}

	section.join_team form button {
		display: block;
		margin-bottom: 15px;
	}

	section.join_team .content {
		padding-bottom: 95px;
	}

	section.londons_exclusive {
		padding: 100px 30px 100px;
	}

	section.londons_exclusive p br{
		display: none;
	}

	section.londons_exclusive h3 {
		padding: 0 60px;
	}

	section.londons_exclusive form input {
		max-width: 530px;
	}

	section.launch_party img {
		max-width: 270px;
	}

	section.launch_party span.border::after {
		height: 71%;
	}

	section.launch_party form button {
		margin-left: 15px;
	}

	section.launch_party form input {
		max-width: 150px;
	}

	section.launch_party form input.small {
		max-width: 135px;
	}

	section.follow_us .item {
		width: 135px;
		height: 135px;
	}

	section.roll_with_us h2 {
		margin-bottom: 140px;
	}

	section.roll_with_us img {
		max-width: 270px;
	}

	section.roll_with_us span.border::after {
		height: 68%;
	}

	section.roll_with_us form button {
		margin-left: 15px;
	}

	section.roll_with_us form input {
		max-width: 150px;
	}

	section.roll_with_us form input.medium {
		max-width: 150px;
	}

	footer .contact_info .payment_method {
		display: block;
	}

}

@media only screen and (max-width:1024px) {
	.container {
		width: 570px;
	}

	.cookie_policy {
		display: block;
	}

	.background_mobile {
		-webkit-background-size: cover;
		background-size: cover;
	}

	span.border {
		width: calc(100% - 12px);
		height: calc(100% - 12px);
	}

	header .logo img {
		max-width: 200px;
	}

	header nav ul.main_menu li.menu_item {
		margin-left: 20px;
	}

	section.discover_city {
		padding: 0;
		-webkit-background-size: 0;
		background-size: 0;
	}

	section.discover_city h1 {
		font-size: 25px;
		padding: 0 10px;
		letter-spacing: 15px;
	}

	section.discover_city h2 {
		color: #000;
		font-size: 19px;
		padding: 0 50px;
		margin-top: 20px;
		margin-bottom: 23px;
	}

	section.discover_city h3 {
		font-size: 20px;
		margin-bottom: 0;
	}

	section.discover_city .scroll_down {
		display: block;
	}

	section.discover_city .background_mobile {
		padding: 100px 20px 100px;
	}

	section.discover_city form, section.join_team form, section.launch_party form, section.roll_with_us form {
		flex-wrap: wrap;
		justify-content: flex-end;
		width: 100%;
		position: relative;
	}

	section.discover_city form input, section.join_team form input, section.launch_party form input, section.roll_with_us form input, section.roll_with_us form textarea {
		max-width: 100% !important;
		margin: 0 auto 15px;
		border-color: #919191;
		border-width: 2px;
		height: 36px;
	}

	section.discover_city form button, section.join_team form button, section.launch_party form button, section.roll_with_us form button {
		height: 36px;
		border: 2px solid #919191;
		background-color: #e0e0e0;
		line-height: 100%;
		margin: 0;
		padding: 0;
		min-width: 85px;
	}

	section.menu_for_london .item {
		height: 540px;
		width: 100%;
	}

	section.menu_for_london .item h3 {
		font-size: 28px;
	}

	section.menu_for_london .flex {
		flex-wrap: wrap;
	}

	section.join_team {
		padding-top: 40px;
	}

	section.join_team .content {
		-webkit-background-size: 0;
		background-size: 0;
		padding: 0;
	}

	section.join_team .background_mobile {
		padding: 70px 0 95px;
		position: relative;
		margin-bottom: 30px;
	}

	section.join_team .content h2 {
		font-size: 35px;
		margin-bottom: 0;
		line-height: 46px;
		padding: 0 50px;
	}

	section.join_team .content h2 br {
		display: none;
	}

	section.join_team span.border {
		width: calc(100% - 12px);
		height: calc(100% - 12px);
	}

	section.londons_exclusive {
		margin-top: 50px;
		-webkit-background-size: 0;
		background-size: 0;
		padding: 0;
	}

	section.londons_exclusive .background_mobile {
		position: relative;
		padding: 100px 0px 100px;
		margin-bottom: 18px;
	}

	section.londons_exclusive h3 {
		font-size: 29px;
		margin-bottom: 0;
		padding: 0 50px;
		text-align: left;
	}

	section.londons_exclusive p {
		font-size: 23px;
		color: #000;
		padding: 0px 30px;
		margin-bottom: 15px;
	}

	section.londons_exclusive p.terms {
		font-size: 21px;
		line-height: 100%;
	}

	section.londons_exclusive p br {
		display: none;
	}

	section.londons_exclusive form {
		width: 100%;
	}

	section.londons_exclusive form input {
		max-width: 100%;
		margin: 0 auto 0;
		border-color: #919191;
		border-width: 2px;
		height: 36px;
	}

	section.londons_exclusive form button {
		height: 36px;
		border: 2px solid #919191;
		background-color: #e0e0e0;
		line-height: 100%;
		margin: 0;
		padding: 0;
		min-width: 85px;
		margin-left: 15px;
	}

	section.londons_exclusive span.border {
		width: calc(100% - 12px);
		height: calc(100% - 12px);
	}

	section.tell_us .flex {
		flex-wrap: wrap;
	}

	section.tell_us .item {
		width: 100%;
	}

	section.tell_us .col-6:last-of-type {
		order: 2;
	}

	section.tell_us h4 {
		order: 1;
		margin-top: 30px;
		margin-bottom: 30px;
	}

	section.launch_party {
		padding-top: 40px;
	}

	section.launch_party h3.section-label {
		margin-bottom: 30px;
	}

	section.launch_party img {
		display: none;
	}

	section.launch_party .content {
		-webkit-background-size: 0;
		background-size: 0;
		padding: 0;
	}

	section.launch_party .content h2 {
		padding: 0 30px;
		font-size: 35px;
		margin-bottom: 0;
		line-height: 46px;
		letter-spacing: 15px;
	}

	section.launch_party .content h2 br {
		display: none;
	}

	section.launch_party .background_mobile {
		position: relative;
		padding-top: 140px;
		padding-bottom: 30px;
	}

	section.launch_party span.border {
		border: 2px solid #fff;
		top: 0;
		bottom: 0;
		width: calc(100% - 12px);
		height: calc(100% - 12px);
	}

	section.launch_party span.border::before, section.launch_party span.border:after {
		content: none;
	}

	section.launch_party .content p {
		font-size: 23px;
		color: #000;
		padding: 0px 30px;
		margin-bottom: 22px;
		margin-top: 22px;
		text-align: center;
	}

	section.launch_party .content p a {
		text-decoration: underline;
		color: #000;
		display: inline-block;
	}

	section.launch_party .content p br {
		display: none;
	}

	section.follow_us {
		padding-top: 40px;
	}

	section.follow_us h3.section-label {
		margin-bottom: 30px;
	}

	section.follow_us .row.flex {
		justify-content: center;
		align-items: center;
	}

	section.follow_us .item {
		width: 155px;
		height: 155px;
		margin-left: 7px;
		margin-right: 7px;
		margin-bottom: 15px;
	}

	section.follow_us p {
		margin-top: 0;
	}

	section.roll_with_us {
		margin-top: 45px;
		-webkit-background-size: 0;
		background-size: 0;
		padding: 0;
	}

	section.roll_with_us h3 {
		margin-bottom: 0;
	}

	section.roll_with_us .background_mobile {
		position: relative;
		padding-top: 115px;
		padding-bottom: 260px;
	}

	section.roll_with_us img {
		max-width: 178px;
		bottom: -40px;
		top: auto;
		right: -25px;
	}

	section.roll_with_us span.border {
		border: 2px solid #fff;
		border-right: none;
		border-bottom: none;
		top: 0;
		bottom: 0;
		width: calc(100% - 12px);
		height: calc(100% - 12px);
	}

	section.roll_with_us span.border::before {
		top: auto;
		bottom: 0;
		width: calc(100% - 130px);
	}

	section.roll_with_us span.border:after {
		top: 0;
		bottom: auto;
		height: 74%;
	}

	section.roll_with_us h2 {
		font-family: "Garamond";
		margin-bottom: 20px;
		margin-top: 20px;
		font-size: 30px;
		line-height: normal;
		color: #000;
		letter-spacing: normal;
	}

	section.roll_with_us form textarea {
		height: 87px;
	}

	section.roll_with_us {
		form {
			.check_terms{
				display: flex;
			}
		}
	}

	footer {
		flex-direction: column;
		margin-top: 70px;
	}

	footer .contact_info {
		width: 100%;
		margin-bottom: 23px;
	}

	footer .contact_info form {
		flex-direction: row;
		flex-wrap: wrap;
		width: 100%;
	}

	footer .contact_info form input {
		max-width: 100%;
		width: 100%;
		margin: 0;
		background-color: transparent;
		color: rgba(255, 255, 255, 0.75);
	}

	footer .contact_info form button {
		max-width: 100%;
		width: 100%;
		margin-top: 15px;
	}

	footer .contact_info form input::placeholder {
		color: rgba(255, 255, 255, 0.75) !important;
	}

	footer .contact_info .payment_method {
		display: inline-block;
		float: right;
	}

}

@media only screen and (max-width:600px) {
	.container {
		width: 100%;
		padding: 0;
	}

	h3.section-label {
		font-size: 28px;
		letter-spacing: 5px;
	}
	p.section-description {
		font-size: 20px;
		padding: 0;
	}

	header {
		position: fixed;
		padding: 7px 15px;
	}

	header .header_bg {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
	}

	header .logo {
		opacity: 0;
	}

	header .auth_button {
		display: none;
	}

	header .open_menu_btn {
		display: block;
	}

	header nav {
		width: 200px;
		position: absolute;
		height: 100vh;
		overflow: hidden;
		background: rgba(0, 0, 0, 0.9);
		top: 0;
		right: 0;
		transform: translateX(200px);
		transition: transform 0.3s ease-in-out;
		padding-bottom: 250px;
	}

	header nav.opened_menu {
		transform: translateX(0);
	}

	header nav img.menu_logo {
		display: block;
		position: absolute;
		//bottom: -63px;
		//right: -49px;
		right: 0;
		bottom: 0;
		transform: translateX(59px) translateY(73px);
		width: 200px;
		height: 200px;
		opacity: 0.4;
		transition: transform 0.2s ease, opacity 0.2s ease;
		transition-delay: 0.2s;
	}

	header nav.opened_menu img.menu_logo {
		//bottom: -43px;
		//right: -29px;
		transform: translateX(29px) translateY(43px);
		opacity: 1;
	}

	header nav ul.main_menu {
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		padding-top: 20px;
		margin-top: 60px;
		overflow-y: auto;
		overflow-x: hidden;
		height: calc(100vh - 230px);
		width: 90%;
	}

	header nav ul.main_menu li.menu_item {
		margin-left: 25px;
		padding-bottom: 50px;
	}

	header nav ul.main_menu li.menu_item a {
		color: rgba(255, 255, 255, 0.85);
		line-height: 100%;
	}

	header nav ul.main_menu li.menu_item.dropdown:hover ul.dopdown_menu, header nav ul.main_menu li.menu_item.dropdown:hover i {
		margin-top: 0;
		transform: none;
	}

	header nav ul.main_menu li.menu_item a.open_dropdown.opened ~ ul {
		height: auto;
	}

	header nav ul.main_menu li.menu_item.dropdown ul.dopdown_menu {
		position: relative;
		background-color: transparent;
		pointer-events: all;
		opacity: 1;
		padding: 0 10px;
		height: 0;
		left: 0;
		transform: none;
		overflow: hidden;
	}

	header nav ul.main_menu li.menu_item.dropdown ul.dopdown_menu li:first-child {
		margin-top: 25px;
	}

	header nav ul.main_menu li.menu_item.dropdown ul.dopdown_menu li {
		margin-bottom: 25px;
	}

	section.discover_city{
		padding: 0;
		padding-top: 100vh;
		background-size: 0;
		//height: 100vh;
		//z-index: 2;
	}
	section.discover_city span.white-bg{
		display: block;
	}
	section.discover_city .background_mobile {
		height: 100vh;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		align-items: center;
		flex-direction: column;
		overflow: hidden;
		padding: 0;
		justify-content: center;
		min-height: 320px;
		max-height: 100vh;
		//transition: transform 0.1s ease;
	}
	section.discover_city .background_mobile {
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		z-index: -1;
		@include bg(center);
		//padding: 185px 15px 150px;
		height: 100vh;
	}

	section.discover_city .background_mobile img {
		display: block;
		width: 249px;
		max-width: 60%;
		//height: 40%;
		//max-height: 337px;
		//min-height: 178px;
	}

	section.discover_city h1 {
		font-size: 16px;
		padding: 0 30px;
		letter-spacing: 5px;
		margin-bottom: 18px;
	}

	section.discover_city h3 {
		font-size: 17px;
		margin-bottom: 0;
	}

	section.discover_city form {
		padding: 0 15px;
	}

	section.discover_city h2 {
		padding: 0 15px;
	}

	section.menu_for_london {
		padding: 40px 15px 0;
	}

	section.menu_for_london h3.section-label {
		margin-bottom: 25px;
	}

	section.menu_for_london p.section-description {
		margin-bottom: 35px;
	}

	section.menu_for_london .item {
		height: 360px;
		width: 100%;
		margin: 0 0 15px;
		padding: 30px;
	}

	section.menu_for_london .item h3 {
		font-size: 20px;
		letter-spacing: 10px;
	}

	section.join_team {
		padding: 40px 15px 0;
	}

	section.join_team h3.section-label {
		margin-bottom: 30px;
	}

	section.join_team .content h2 {
		font-size: 20px;
		line-height: normal;
		letter-spacing: 10px;
		padding: 0 30px;
	}

	section.join_team .background_mobile {
		padding: 40px 0 40px;
		min-height: 240px;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		align-items: center;
	}

	section.londons_exclusive {
		padding: 0 15px;
	}

	section.londons_exclusive h3 {
		font-size: 20px;
		line-height: normal;
		letter-spacing: 8px;
		padding: 0 30px;
	}

	section.londons_exclusive .background_mobile {
		padding: 25px 0 25px;
		min-height: 240px;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		align-items: center;
	}

	section.londons_exclusive p {
		font-size: 18px;
		line-height: normal;
		padding: 0;
	}

	section.londons_exclusive p.terms {
		font-size: 16px;
	}

	section.tell_us {
		padding: 50px 15px 0;
	}

	section.tell_us .item {
		height: 323px;
		padding: 30px;
	}

	section.tell_us .item img {
		width: 241px;
	}

	section.tell_us h4 {
		font-size: 20px;
	}

	section.tell_us .item h3, section.launch_party .content h2 {
		font-size: 20px;
		letter-spacing: 10px;
		line-height: normal;
	}

	section.tell_us .item h3 br {
		display: none;
	}

	section.tell_us .item:last-of-type {
		padding-bottom: 40px;
	}

	section.launch_party {
		padding: 40px 15px 0;
	}

	section.launch_party .content p {
		font-size: 18px;
		line-height: normal;
		padding: 0;
	}

	section.launch_party .content p br {
		display: none;
	}

	section.follow_us {
		padding: 40px 15px 0;
	}

	section.follow_us .row.flex {
		justify-content: center;
		align-items: center;
	}

	section.follow_us .item {
		width: 165px;
		height: 165px;
		margin: 0 7px 15px;
	}

	section.roll_with_us {
		padding: 0 15px;
	}

	section.roll_with_us .background_mobile {
		overflow: hidden;
	}

	section.roll_with_us h2 {
		font-size: 19px;
		padding: 0;
	}

	footer {
		margin: 70px 15px 15px;
	}

}

@media only screen and (max-width:420px) {
	section.discover_city .background_mobile {
		background-attachment: scroll;
		background-position: center top;
	}
}

@media only screen and (max-height: 500px) {
	section.discover_city .background_mobile img {
		width: 119px;
	}
}

