$blue-00:#0076ff;
$red-f4: #f44336;
$blue-8f: #8fa5bb;
$blue-36: #365572;
$blue-3c: #3cb2ff;
$default: #f9fafc;
$green-2b: #2bc231;
$grey-fe: #fefeff;
$grey-f8: #f8fbfe;
$grey-22: #223c54;
$grey-63: #637587;
$red-ff: #ff8282;
$white-f5:#f5faff;
