section.discover_city {
	padding: 176px 20px 99px;
	@include bg(top, cover);
	text-align: center;
	position: static;
	h1 {
		@include font(34px, 400, "AceSans");
		color: #ffffff;
		letter-spacing: 15px;
		padding: 0 140px;
		margin-bottom: 38px;
	}

	h2 {
		@include font(26px, 400);
		color: #ffffff;
		text-transform: uppercase;
		padding: 0 180px;
		margin-bottom: 38px;
		position: relative;
		z-index: 3;
	}

	h3 {
		@include font(25px, 700, "Brandon");
		color: #ffffff;
		text-transform: uppercase;
		margin-bottom: 38px;
	}

	span.white-bg{
		position: absolute;
		display: none;
		pointer-events: none;
		width: 100%;
		background-color: #fff;
		height: calc(100% - 100vh + 15px);
		z-index: 2;
		left: 0;
	}

	.scroll_down {
		position: relative;
		z-index: 3;
		@include font(14px, 400);
		display: none;
		margin-top: -18px;
		color: #787878;
		line-height: 100%;
		text-align: center;
		text-transform: uppercase;
		margin-bottom: 15px;
		transition: opacity 0.3s ease-in-out;
		&:hover {
			opacity: 0.8;
		}
		img {
			margin-top: 10px;
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
	}
	.background_mobile img {
		display: none;
		margin-bottom: 25px;
		position: relative;
		z-index: 2;
	}
	form{
		position: relative;
		z-index: 3;
		input {
			max-width: 207px;
			margin: 0 15px;
		}

		button {
			padding: 0 32px;
			margin: 0 15px;
		}
	}
}

/*********************** menu_for_london *********************/
section.menu_for_london {
	padding: 40px 0 0;
	h3.section-label {
		margin-bottom: 40px;
	}
	p.section-description {
		margin-bottom: 65px;
	}

	.item {
		position: relative;
		width: 100%;
		height: 580px;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		align-items: center;
		padding: 35px;
		-webkit-background-size: cover;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;

		h3 {
			@include font(34px, 400, "AceSans");
			color: #ffffff;
			letter-spacing: 15px;
			text-align: left;
		}
	}
}

/*********************** join_team *********************/

section.join_team {
	padding-top: 35px;
	h3.section-label {
		margin-bottom: 40px;
	}
	.content {
		position: relative;
		padding-top: 70px;
		padding-bottom: 175px;
		-webkit-background-size: cover;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		h2 {
			@include font(45px, 400, "AceSans");
			color: #ffffff;
			line-height: 60px;
			letter-spacing: 20px;
			text-transform: uppercase;
			margin-bottom: 90px;
			padding: 0 100px;
		}
	}
	form{
		input {
			max-width: 148px;
			margin: 0 15px;
		}
		button {
			padding: 0 23px;
			margin: 0 15px;
		}
	}
	span.border {
		width: calc(100% - 32px);
		height: calc(100% - 32px);
	}
}

/**********************  londons_exclusive *****************************/
section.londons_exclusive {
	position: relative;
	margin-top: 70px;
	padding: 175px 30px 100px;
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	text-align: center;
	h3 {
		@include font(34px, 400, "Brandon");
		color: #ffffff;
		margin-bottom: 45px;
		text-transform: uppercase;
		padding: 0 90px;
		letter-spacing: 9px;
	}
	p {
		@include font(28px, 400, "");
		color: #ffffff;
		line-height: 29px;
		margin-bottom: 63px;
		padding: 0 80px;
		&.terms {
			font-size: 26px;
			margin-bottom: 0;
			margin-top: 24px;
		}
		a {
			display: inline-block;
			text-decoration: underline;
			color: inherit;
		}
	}
	span.border {
		width: calc(100% - 32px);
		height: calc(100% - 32px);
	}
	form{
		input {
			max-width: 744px;
			margin-right: 15px;
		}
		button {
			padding: 0 105px;
		}
	}
}

/************************  tell_us *************************/
section.tell_us {
	padding-top: 70px;
	h4 {
		display: block;
		width: 100%;
		@include font(28px, 600);
		color: #000;
		margin-top: 45px;
		text-align: center;
		a {
			color: inherit;
			display: block;
			text-decoration: underline;
		}
	}
	.flex {
		justify-content: space-between;
	}
	.item {
		position: relative;
		height: 525px;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		align-items: center;
		padding: 35px;
		-webkit-background-size: cover;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		&:first-child {
			justify-content: center;
		}

		&:last-of-type {
			align-items: flex-end;
			padding-bottom: 125px;
		}
		h3 {
			@include font(34px, 400, "AceSans");
			color: #ffffff;
			letter-spacing: 15px;
		}
	}
}

/************************  launch_party *************************/
section.launch_party {
	padding-top: 60px;
	h3.section-label {
		margin-bottom: 40px;
	}
	.content {
		position: relative;
		padding-top: 195px;
		padding-bottom: 50px;
		-webkit-background-size: cover;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		h2 {
			@include font(45px, 400, "AceSans");
			color: #ffffff;
			line-height: 60px;
			letter-spacing: 20px;
			text-transform: uppercase;
			margin-bottom: 50px;
			padding: 0 100px;
		}
		p {
			@include font(28px, 400, "Garamond");
			color: #ffffff;
			line-height: 29px;
			margin-bottom: 23px;
			padding-left: 100px;
			padding-right: 100px;
			a {
				text-decoration: none;
				color: inherit;
				display: inline-block;
			}
		}
	}
	form{
		input {
			max-width: 185px;
			margin: 0 15px;
			&.small {
				max-width: 150px;
			}
		}
		button {
			padding: 0 23px;
			margin-left: 87px;
		}
	}
	img {
		position: absolute;
		right: -48px;
		top: -63px;
		max-width: 320px;
	}
	span.border {
		top: 25px;
		bottom: auto;
		width: calc(100% - 50px);
		height: calc(100% - 45px);
		border-top: none;
		border-right: none;
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: -1px;
			height: 2px;
			background-color: #fff;
			width: 80%;
		}

		&::after {
			content: "";
			position: absolute;
			right: 0;
			bottom: -1px;
			height: 64%;
			background-color: #fff;
			width: 1.5px;
		}
	}
}

/************************* roll_with_us ***************************/
section.roll_with_us {
	position: relative;
	margin-top: 65px;
	padding-top: 150px;
	padding-bottom: 48px;
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	text-align: center;
	h2 {
		@include font(45px, 400, "AceSans");
		color: #ffffff;
		line-height: 60px;
		letter-spacing: 20px;
		text-transform: uppercase;
		margin-bottom: 180px;
		padding: 0 100px;
	}
	h3 {
		@include font(25px, 700, "Brandon");
		color: #ffffff;
		text-transform: uppercase;
		margin-bottom: 70px;
	}
	img {
		position: absolute;
		right: -48px;
		top: -63px;
		max-width: 320px;
	}
	form{
		input, textarea{
			max-width: 205px;
			margin: 0 15px;
			height: 32px;
		}
		input{
			&.medium {
				max-width: 185px;
			}
			&.small {
				max-width: 150px;
			}
		}
		button {
			padding: 0 20px;
			margin-left: 67px;
		}
		.check_terms {
			position: absolute;
			bottom: 6px;
			left: 0;
			display: none;
		}
	}
	span.border {
		top: 25px;
		bottom: auto;
		width: calc(100% - 50px);
		height: calc(100% - 45px);
		border-top: none;
		border-right: none;
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: -1px;
			height: 2px;
			background-color: #fff;
			width: 80%;
		}

		&::after {
			content: "";
			position: absolute;
			right: 0;
			bottom: 0;
			height: 64%;
			background-color: #fff;
			width: 1.5px;
		}
	}
}

@media only screen and (max-width:1230px) {
	section.discover_city {
		padding: 106px 20px 99px;
		h1 {
			padding: 0 50px;
		}
		h2 {
			padding: 0 90px;
		}
	}

	section.join_team{
		form {
			flex-wrap: wrap;
			width: 570px;
			margin: auto;
			input {
				margin-bottom: 15px;
			}

			button {
				display: block;
				margin-bottom: 15px;
			}
		}

		.content {
			padding-bottom: 95px;
		}
	}

	section.launch_party{
		img {
			max-width: 270px;
		}

		span.border::after {
			height: 71%;
		}

		form{
			button {
				margin-left: 15px;
			}

			input {
				max-width: 150px;
				&.small {
					max-width: 135px;
				}
			}
		}
	}

	section.roll_with_us{
		h2 {
			margin-bottom: 140px;
		}

		img {
			max-width: 270px;
		}

		span.border::after {
			height: 68%;
		}

		form{
			button {
				margin-left: 15px;
			}

			input {
				max-width: 150px;
				&.medium {
					max-width: 150px;
				}
			}
		}
	}
}

@media only screen and (max-width:1024px) {
	section.discover_city {
		padding: 0;
		-webkit-background-size: 0;
		background-size: 0;
		h1 {
			font-size: 25px;
			padding: 0 10px;
			letter-spacing: 15px;
		}

		h2 {
			color: #000;
			font-size: 19px;
			padding: 0 50px;
			margin-top: 20px;
			margin-bottom: 23px;
		}

		h3 {
			font-size: 20px;
			margin-bottom: 0;
		}

		.scroll_down {
			display: block;
		}

		.background_mobile {
			padding: 100px 20px 100px;
		}
	}

	section.menu_for_london{
		.item {
			height: 540px;
			width: 100%;
			h3 {
				font-size: 28px;
			}
		}

		.flex {
			flex-wrap: wrap;
		}
	}

	section.join_team {
		padding-top: 40px;
		.content {
			-webkit-background-size: 0;
			background-size: 0;
			padding: 0;
			h2 {
				font-size: 35px;
				margin-bottom: 0;
				line-height: 46px;
				padding: 0 50px;
				br {
					display: none;
				}
			}
		}

		.background_mobile {
			padding: 70px 0 95px;
			position: relative;
			margin-bottom: 30px;
		}

		span.border {
			width: calc(100% - 12px);
			height: calc(100% - 12px);
		}
	}

	section.launch_party {
		padding-top: 40px;
		h3.section-label {
			margin-bottom: 30px;
		}

		img {
			display: none;
		}

		.content {
			-webkit-background-size: 0;
			background-size: 0;
			padding: 0;
			h2 {
				padding: 0 30px;
				font-size: 35px;
				margin-bottom: 0;
				line-height: 46px;
				letter-spacing: 15px;
				br {
					display: none;
				}
			}

			p {
				font-size: 23px;
				color: #000;
				padding: 0px 30px;
				margin-bottom: 22px;
				margin-top: 22px;
				text-align: center;
				a {
					text-decoration: underline;
					color: #000;
					display: inline-block;
				}

				br {
					display: none;
				}
			}
		}

		.background_mobile {
			position: relative;
			padding-top: 140px;
			padding-bottom: 30px;
		}

		span.border {
			border: 2px solid #fff;
			top: 0;
			bottom: 0;
			width: calc(100% - 12px);
			height: calc(100% - 12px);
			&::before, &::after {
				content: none;
			}
		}
	}

	section.tell_us{
		.flex {
			flex-wrap: wrap;
		}

		.item {
			width: 100%;
		}

		.col-6:last-of-type {
			order: 2;
		}

		h4 {
			order: 1;
			margin-top: 30px;
			margin-bottom: 30px;
		}
	}

	section.roll_with_us {
		margin-top: 45px;
		-webkit-background-size: 0;
		background-size: 0;
		padding: 0;
		h3 {
			margin-bottom: 0;
		}

		h2 {
			font-family: "Garamond";
			margin-bottom: 20px;
			margin-top: 20px;
			font-size: 30px;
			line-height: normal;
			color: #000;
			letter-spacing: normal;
		}

		.background_mobile {
			position: relative;
			padding-top: 115px;
			padding-bottom: 260px;
		}

		img {
			max-width: 178px;
			bottom: -40px;
			top: auto;
			right: -25px;
		}

		span.border {
			border: 2px solid #fff;
			border-right: none;
			border-bottom: none;
			top: 0;
			bottom: 0;
			width: calc(100% - 12px);
			height: calc(100% - 12px);
			&::before {
				top: auto;
				bottom: 0;
				width: calc(100% - 130px);
			}
			&:after {
				top: 0;
				bottom: auto;
				height: 74%;
			}
		}

		form {
			.check_terms{
				display: flex;
			}
			textarea {
				height: 87px;
			}
		}
	}
}


@media only screen and (max-width:600px) {
	section.discover_city{
		padding: 0;
		padding-top: 100vh;
		background-size: 0;
		span.white-bg{
			display: block;
		}
		.background_mobile {
			height: 100vh;
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			align-items: center;
			flex-direction: column;
			overflow: hidden;
			padding: 0;
			justify-content: center;
			min-height: 320px;
			max-height: 100vh;
			position: fixed;
			left: 0;
			top: 0;
			width: 100%;
			z-index: 0;
			@include bg(center);
			img {
				display: block;
				width: 249px;
				max-width: 60%;
				//height: 40%;
				//max-height: 337px;
				//min-height: 178px;
			}
		}

		h1 {
			font-size: 16px;
			padding: 0 30px;
			letter-spacing: 5px;
			margin-bottom: 18px;
		}

		h3 {
			font-size: 17px;
			margin-bottom: 0;
		}

		form {
			padding: 0 15px;
		}

		h2 {
			padding: 0 15px;
		}
	}

	section.menu_for_london {
		padding: 40px 15px 0;
		h3.section-label {
			margin-bottom: 25px;
		}

		p.section-description {
			margin-bottom: 35px;
		}

		.item {
			height: 360px;
			width: 100%;
			margin: 0 0 15px;
			padding: 30px;
			h3 {
				font-size: 20px;
				letter-spacing: 10px;
			}
		}
	}

	section.join_team {
		padding: 40px 15px 0;
		h3.section-label {
			margin-bottom: 30px;
		}

		.content h2 {
			font-size: 20px;
			line-height: normal;
			letter-spacing: 10px;
			padding: 0 30px;
		}

		.background_mobile {
			padding: 40px 0 40px;
			min-height: 240px;
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			align-items: center;
		}
	}

	section.tell_us {
		padding: 50px 15px 0;
		.item {
			height: 323px;
			padding: 30px;
			img {
				width: 241px;
			}
			h3 br {
				display: none;
			}
			&:last-of-type {
				padding-bottom: 40px;
			}
		}

		h4 {
			font-size: 20px;
		}
	}

	section.launch_party {
		padding: 40px 15px 0;
		.content p {
			font-size: 18px;
			line-height: normal;
			padding: 0;
			br {
				display: none;
			}
		}
	}

	section.roll_with_us {
		padding: 0 15px;
		.background_mobile {
			overflow: hidden;
		}

		h2 {
			font-size: 19px;
			padding: 0;
		}
	}
}

@media only screen and (max-width:420px) {
	section.discover_city {
		.background_mobile {
			background-attachment: scroll;
			background-position: center top;
		}
	}
}

@media only screen and (max-height: 500px) {
	section.discover_city {
		.background_mobile {
			img {
				width: 119px;
			}
		}
	}
}