section{
	&.influencers-main-section{}
	&.influencers-reg-form{
		.grid{
			min-width: 100%;
			margin-right: -15px;
			margin-left: -15px;
		}
		.grid-item{
			padding: 0 15px;
			margin-bottom: 30px;
		}
		.item{
			background-color: red;
			@include bg(center);
			width: 100%;
			height: 100%;
		}
		.grid-sizer,
		.grid-item {
			width: 33.333%;
		}
		.h{
			&_230{height: 230px;}
			&_250{height: 250px;}
			&_270{height: 270px;}
			&_280{height: 280px;}
			&_290{height: 290px;}
			&_300{height: 300px;}
			&_460{height: 460px;}
			&_480{height: 480px;}
			&_580{height: 580px;}
		}
	}
}